<h1>Random Number generator</h1>

<form action ="/random/results">
  <div>
      <label for = "Minimum">
        Minimum
      </label>
      <input id = "Minimum" type = "text" name="Minimum">
  </div>
  <div>
      <label for = "Maximum">
        Maximum
      </label>
      <input id = "Maximum" type = "text" name="Maximum">
  </div>
  <button>Pick random number</button>
</form>
