<h1>Square Calculation</h1>

<form action ="/square/results">
  <div>
      <label for = "user_provided_number">
        Enter a number
      </label>
      <input id = "user_provided_number" type = "text" name="user_provided_number">
  </div>
  <button>Calculate square</button>
</form>
